@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
*{
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    color: rgba(0,0,0,1);
    text-decoration: none;
}
a:hover {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}
.row:first-child  {
    margin-top: 23px;
}
.row > .col-md-12 > .panel-primary {
    border-color: rgba(0,0,0,0.8) !important;
}    
.row > .col-md-12 > .panel-primary > .panel-heading {
    background-color: rgba(0,0,0,0.8) !important;
}
.media-body > .table {
    margin-bottom: 0px;
}
.media-body > .table > thead > tr > th {
    font-size: 13px;
}
.media-body > .table > thead > tr > th > span {
    font-size: 11px;
}
.media-body > .table > tbody > tr > td {
    font-size: 15px;
}
.media-left {
    height: 73px;
}
.media-left > div > a > img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.media-left > i {
    line-height: 73px;
}
nav.text-center > .pagination > li > a {
	color: rgba(0,0,0,0.8); 
}
nav.text-center > .pagination > li.active > a {
	color: #ffffff; 
	border-color: rgba(0,0,0,0.8); 
	background-color: rgba(0,0,0,0.8); 
}
.media-body > .media-heading > button {
	margin-bottom: 6px;
}
.media-body > .table > tbody > tr > td > div > a {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    cursor: pointer;
}
.panel-body > .media > .media-body > div > div > h3 {
	display: inline;
}
.panel-body > .media > .media-body > div > div > h4 {
	display: inline;
}
.row > .modal > .modal-dialog > .modal-content > .panel-primary {
	margin-bottom: 0px; 
	border-color: rgba(0,0,0,0.8);
}
.row > .modal > .modal-dialog > .modal-content > .panel-primary > .panel-heading {
	background-color: rgba(0,0,0,0.8); 
	border-color: rgba(0,0,0,0.8);
}
.row > .modal > .modal-dialog > .modal-content > .panel-primary > .panel-heading > .panel-title {
	font-size: 18px;
}
.row > .modal > .modal-dialog > .modal-content > .panel-primary > .panel-body {
	padding-top: 25px; 
	padding-bottom: 25px;
}
.panel-primary > .panel-body > form > .row {
	height: 25px; 
	padding-left: 84px;
}
#info > .modal-dialog > .modal-content > .panel-primary > .panel-body > .input-group > .form-control {
	height: 46.53px;
}
#info > .modal-dialog > .modal-content > .panel-primary > .panel-body > form > .input-group > .form-control {
	height: 46.53px;
}
.row > .modal > .modal-dialog > .modal-content > .panel-primary > .panel-body > form > .input-group > span > .fa-lock {
	font-size: 21px;
}
.row > .modal > .modal-dialog > .modal-content > .panel-primary > .panel-body > form > .input-group > span > .fa-user-secret {
	font-size: 21px;
}
.fileBox .fileName {
	display: inline-block;
	width: 190px;
	height: 30px;
	padding-left: 10px;
	margin-right: 5px;
	line-height: 30px;
	border: 1px solid #aaa;
	background-color: #fff;
	vertical-align: middle
}
.fileBox .btn_file {
	display: inline-block;
	border: 1px solid #000;
	width: 100px;
	height: 30px;
	font-size: 0.8em;
	line-height: 30px;
	text-align: center;
	vertical-align: middle
}
.fileBox input[type="file"] {
	position :absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}